.jumbotron {
    background-image: url("https://www.publicdomainpictures.net/pictures/20000/velka/grass-background.jpg");
    background-size: cover;
    background-position: bottom;
}

.center-text {
    text-align: center;
    height: 150px;
}

.title {
    font-size: 150px;
    color: white;
}

.lead {
    font-size: 45px;
    color: white;
}